:root {
	--bg-color: #e8f0f8;
	--section-color: #f0f8ff;
	--dash-item-color: #f8ffff;
	--titlebar-color: #d0e0f0;
	--text-color: #303040;
	--light-text-color: #8080a0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	color: var(--text-color);
}

html {
	background: var(--bg-color);
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
}

body > * {
	width: 100%;
	height: 100%;
}

#titlebar {
	padding: 1em;
	background: var(--titlebar-color);
	display: grid;
	grid-template-columns: auto auto;
}

#titlebar h1 {
	font-size: 1em;
	text-align: left;
}

#titlebar p {
	font-size: 1em;
	text-align: right;
}

#main {
	padding: 2em;
	overflow-y: auto;
}

#container {
	margin: auto;
	max-width: 40em;
}

#dashboard {
	display: none;
}

section {
	padding: 2em;
	margin: 2em 0;
	border-radius: 2em;
	background: var(--section-color);
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

section > div {
	flex-grow: 1;
	flex-basis: 0;
	padding: 2em;
	border-radius: 2em;
	background: var(--dash-item-color);
}

section > h1, section > p {
	flex-basis: 100%;
}

#points, #lastsip {
	font-size: 200%;
}

table {
	width: 100%;
}

table > thead td {
	color: var(--light-text-color);
}

table tr > td:first-child {
	color: var(--light-text-color);
	text-align: center;
}

table td {
	padding: 0.25em;
}

.rankcell {
	width: 1.5em;
}

.pointscell {
	width: 8em;
}

.lastsipcell {
	width: 8em;
}

.marker-text {
	color: var(--light-text-color);
}

#login section {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

#login section > * {
	display: inline;
	flex-grow: 1;
	margin: auto;
}

input, button {
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em 1em;
	border: none;
	border-radius: 2em;
}
